[Desktop Entry]
Type=Application
Name=Firefox
Name[ar]=فايرفوكس
Name[bn]=ফায়ার ফক্স
Name[es]=Firefox
Name[fr]=Firefox
Name[hi]=Firefox
Name[id]=Firefox
Name[pt_BR]=Firefox
Name[ro]=Firefox
Name[th]=Firefox
Name[vi]=Firefox
Name[zh_CN]=Firefox
Name[zh_TW]=Firefox
GenericName=Web browser
Comment=Mozilla's popular web browser
Comment[ar]=متصفح ويب موزيلا الشهير
Comment[es]=El navegador popular de Mozilla
Comment[fr]=Fameux navigateur web de Mozilla
Comment[hi]=Mozilla का लोकप्रिय वेब ब्राउज़र
Comment[id]=Peramban web populer dari Mozilla
Comment[pt_BR]=O famoso navegador da Mozilla
Comment[ro]=Browser-ul web popular Mozilla
Comment[th]=เว็บเบราว์เซอร์ยอดนิยมของ Mozilla
Comment[vi]=Trình duyệt web phổ biến của Mozilla
Comment[zh_CN]=Mozilla 出品的一款非常受欢迎的 Web 浏览器
Comment[zh_TW]=Mozilla 的熱門網頁瀏覽器
Exec=firefox %u
Icon=org.mozilla.Firefox
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
X-Endless-LaunchMaximized=true
